# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Distributed-Programming\1-pageRank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
