# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Distributed-Programming-Course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
